{% extends "finance_app/base.html" %}

{% block title %}Fetch Stock Data{% endblock %}

{% block content %}
<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md">
    <h1 class="text-3xl font-bold mb-6 text-center text-primary-800">Fetch Stock Data</h1>
    <form method="POST" class="space-y-4">
        {% csrf_token %}
        <div class="space-y-2">
            <label for="symbol" class="block text-sm font-medium text-gray-700">Stock Symbol</label>
            <div class="flex items-center border border-gray-300 rounded-md overflow-hidden">
                <input type="text" name="symbol" id="symbol" placeholder="Enter Stock Symbol" required class="w-full px-4 py-2 focus:outline-none focus:ring-2 focus:ring-primary-500">
            </div>
        </div>        <button type="submit" class="w-full bg-primary-600 text-white py-3 px-4 rounded-md hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-opacity-50 transition duration-300">
            Submit
        </button>
        <div class="mt-4 px-4 sm:px-6">
            <a href="{% url 'home' %}" class="block w-full text-center bg-transparent text-primary-600 py-3 px-4 rounded-md border border-primary-600 hover:bg-primary-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-opacity-50 transition duration-300">
                Return to Home
            </a>
        </div>    
    </form>
</div>
{% endblock %}
